body {
  margin: 0;
  display:grid;
  /* justify-content: center; */
  place-items: center;
  height: 80vh;
  font-family: cursive;
}

header{
  display: grid;
  place-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  
}
h1{
  font-size: larger;
}
.grid {
  margin: 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(7, 6rem);
  gap: 1rem;
  list-style-type: none;
  border-radius: 0.5rem;
}

.cell {
  display: block;
  width: 6rem;
  height: 6rem;
  background-color: hsl(0, 0%, 90%);
  border-radius: 0.5rem;
}

.containerColor{
  background-color:blueviolet;
}

#container{
  border-radius: 0.5rem;
}